<div class="topnav">
    <a href="/hrfe">index</a>
    <span>|</span>
    <a href="/hrfe/client">client</a>
    <span>|</span>
    <a href="/hrfe/alien-race-names">alien race names</a>
    <span>|</span>
    <a href="/hrfe/mercs-for-hire">mercs for hire</a>
    <span>|</span>
    <a href="/hrfe/starship-problems">starship problems</a>
    <span>|</span>
    <a href="/hrfe/rumors">rumors</a>
    <span>|</span>
    <a href="/hrfe/starship-names">starship names</a>
    <span>|</span>
    <a href="/hrfe/random-items">random items</a>
    <span>|</span>
    <a href="/hrfe/odd-situations">odd situations</a>
    <span>|</span>
    <a href="/hrfe/reasons-characters-are-together">reasons characters are together</a>
    <span>|</span>
    <a href="/hrfe/mission-hooks">mission hooks</a>
    <span>|</span>
    <a href="/hrfe/banned-cargo">banned cargo</a>

</div>