<div id="rumors"
     hx-target="this"
     hx-swap="outerHTML">
    <table class="table table-striped table-hover table-sm">
        <thead>
        <tr>
            <th>Dice Roll</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><input id="first-input" class="form-new" name="dice_roll" autofocus type="number" maxlength="10"
                       minlength="1" size="5"/></td>
            <td><textarea class="form-new" name="description" cols="40" rows="10" autocomplete="on" autocorrect="on"
                          spellcheck="true"></textarea></td>
            <td>
                <button class="btn btn-success" hx-post="{% url 'harshrealmfe:create_rumor' %}" hx-include=".form-new">
                    Create
                </button>
            </td>
        </tr>
        {% for rumor in rumors %}
            <tr>
                <td><input class="form-{{ rumor.id }}" name="dice_roll" value="{{ rumor.dice_roll }}" type="number"
                           maxlength="10" minlength="1" size="5"/></td>
                <td><textarea class="form-{{ rumor.id }}" name="description" cols="40" rows="10" autocomplete="on"
                              autocorrect="on" spellcheck="true">{{ rumor.description }}</textarea></td>
                <td>
                    <button class="btn btn-secondary" type="button"
                            hx-post="{% url 'harshrealmfe:update_rumor' rumor.id %}" hx-include=".form-{{ rumor.id }}">
                        Update
                    </button>
                    <button class="btn btn-danger" type="button"
                            hx-delete="{% url 'harshrealmfe:delete_rumor' rumor.id %}">Delete
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>